.table_container {
  font-family: "Maven Pro", sans-serif;
  border-radius: 8px;
  border: 1px solid #cdcdcd;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.table_wrapper {
  width: 100%;
  overflow-x: auto; /* Enable horizontal scrolling for small screens */
}

table {
  width: 100%;
  border-collapse: collapse;
}

.header {
  background: #f5f6f8;
  border-bottom: 1px solid #cdcdcd;
}

.header_sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

th,
td {
  padding: 12px;
  text-align: left;
  white-space: nowrap; /* Prevent text from wrapping */
}

th {
  font-size: 14px;
  font-weight: 500;
  color: #282828;
}

.header_cell {
  width: auto;
}

th:first-child,
td:first-child {
  width: 40px; /* Adjust width for checkbox column */
  text-align: center;
}

th:not(:first-child),
td:not(:first-child) {
  width: calc(
    (100% - 40px) / 3
  ); /* Distribute the remaining width equally among other columns */
}

td {
  color: #333333;
  font-size: 14px;
}

tbody tr {
  border-bottom: 1px solid #cdcdcd;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

button {
  margin: 10px;
}

p {
  margin: 0;
}

select {
  margin-left: 10px;
  border: 1px solid #cdcdcd;
  background: #ffffff;
  border-radius: 4px;
  padding: 3px;
  outline: none;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin: 0;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
  padding: 14px;
  font-size: 14px;
  position: sticky;
  bottom: 0;
  background: #ffffff;
}

.footer_disabled {
  display: none;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 24px;
}

.pagination_actions {
  display: flex;
  gap: 10px;
}

.pagination_icon {
  width: 20px;
  height: 20px;
  color: #0000008a;
  cursor: pointer;
}

.pagination_icon_disabled {
  width: 20px;
  height: 20px;
  opacity: 0.2;
  cursor: not-allowed;
}

.row {
  display: flex;
  align-items: center;
  gap: 4px;
}

.sort_icon {
  transition: transform 0.3s ease;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.up {
  transform: rotate(180deg);
}

.down {
  transform: rotate(0deg);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  th,
  td {
    padding: 8px;
    font-size: 12px;
  }

  .footer {
    flex-direction: column;
    align-items: center;
  }

  .pagination {
    flex-direction: column;
    gap: 10px;
  }
}

.tooltip {
  background: #333333;
  margin-top: 1px;
  padding: 8px;
  color: white;
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  word-spacing: normal;
  white-space: normal;
  overflow-wrap: break-word;
  max-width: 300px;
  opacity: 0; /* Hidden by default */
  visibility: hidden; /* Prevents interaction when hidden */
  transition: opacity 0.3s ease; /* Smooth transitions */
  transform: translateY(10px); /* Start slightly lower */
}

.tooltip_wrapper {
  position: relative;
  display: inline-block;
}

.tooltip_wrapper:hover .tooltip {
  opacity: 1; /* Fade in */
  visibility: visible; /* Make visible on hover */
  transform: translateY(0); /* Move to original position */
}
